/* **********GENERAL STYLES********** */
/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;700&family=Lemonada:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
/* red - #881D14, dark red - #210202, light - #ebebeb, dark - #171717 */
*{
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body{
  background: #0B0A0A url("../img/bg.jpg");
  background-repeat: repeat-y;
  background-position: top;
  background-size: 100%;
  padding: 0;
  margin: 0;
  color: #ebebeb;
}
.btn{
  border: 1px solid #ebebeb;
  color: #ebebeb;
  padding: .3rem .8rem;
}
.test{
  border: 2px solid red;
}
.test2{
  border: 1px dotted blue;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #ebebeb;
}
a.btn{
  width: 120px;
  height: 40px;
  border: 1px solid #ebebeb;
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #ebebeb;
  transition: ease-out 0.5s;
}

a.btn:hover{
  box-shadow: inset 120px 0 0 0 #ebebeb;
  color: #881418;
  /* font-size: 1.15rem; */
  /* padding: .5rem 1.8rem; */
  /* background: #881D14; */
}
/* general section styling */
section, section.container{
  margin-bottom: 10rem;
}
.spacer{
  flex: 1;
}
.section-content{
  flex: 3;
  margin: 0 2rem;
  align-self: center;
}
.section-content p{
  margin-bottom: 2rem;
}
.section-image{
  flex: 3;
}
.section-image img{
  height: 400px;
}
.show-tablet{
  display: none;
}
.show-mobile{
  display: none;
}
/* typography */
h1{
  font: 400 4rem/4.85rem 'Lemonada', cursive;
  text-transform: uppercase;
}
h2{
  font: 700 2.6rem/3.25rem 'Lemonada', cursive;
  margin: 0;
}
h3{
  font: 700 2rem/2.8rem 'Karma', serif;
  margin: 0;
}
h4{
  font: 700 1.5rem/2rem 'Karma', serif;
  text-transform: uppercase;
  margin: 0;
}
body{
  font: 400 16px/24px 'Roboto', sans-serif;
}

/* **********HEADER STYLING********** */
header{
  padding: 1rem 0;
}
header, header a{
  color: #ebebeb;
}
header .logo{
  width: 13%;
}
header .logo p{
  font: 700 2rem/1.7rem 'Lemonada', sans-serif;
  margin: 0;
}
header .logo p span{
  font: 500 1.5rem/1rem 'Karma', serif;
}
header .menu{
  width: 58%;
}
header .actions{
  font-size: .75rem;
}
.actions .search input{
border: none;
font-weight: 300;
border-bottom: 1px solid #ebebeb;
background: transparent;
}
.actions .signin{
  margin-left: .85rem;
}
/* **********NAVIGATION STYLING********** */
header nav ul{
  display: flex;
  justify-content: space-around;
}
header ul li a{
  /* color: #ebebeb; */
  font: 300 1rem/1.8rem 'Roboto', sans-serif;
}
header a:hover{
  color: #881D14;
  transition: ease-in .3s;
}
/* ******dropdown menu styling****** */
.menu ul li ul.dropdown{
  display: none;
  flex-direction: column;
  position: relative;
}
.menu ul li:hover  ul.dropdown{
  display: block;
  background: #210202;
  position: absolute;
  z-index: 1;
}
.menu ul li ul li a{
  color: #ebebeb;
 }
.menu ul li ul li:hover{
  background: #ebebeb;
}
.menu ul li ul li a:hover{
  color: #210202;
 }
.menu ul li ul li{
  padding: .5rem 1.5rem;  
}
.menu ul li ul li a{
  font-size: 1.2rem;
}
/* **********HERO STYLING********** */
section.hero{
  background: url("../img/hero2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
}
section.hero h1{
  font-weight: 400;
  margin: 5rem 0 0;
}
section.hero p{
  font: 300 2rem/2.5rem 'Karma', serif;
}
section.hero i{  
  margin-top: -2rem; 
  width: 100%;
  text-align: center;
}
.hero-content{
  align-self: flex-end;
}
/* ********** MOVIES SECTION STYLING********** */
.movies .movie-cards{
  margin-top: 2rem;
}
.movie{
  width: 23%;
  text-align: center;
}
.movie img{
  width: 100%;
}
.movie h3{
    margin: 1rem 0 .5rem;
    line-height: 1rem;
}
.movie h3 a{
  color: #ebebeb;
  transition: .5s;
}
.movie h3 a:hover{
  color: #6b6060;
  border-top: 2px dotted #bebebe;
  margin: 0;
}
.movie p{
  margin: 0 0 2rem;
}
/* **********SEATING SECTION STYLING********** */ 
section.seats h2{
  text-align: end;
}
/* **********FOOD SECTION  STYLING********** */
/* **********BAR SECTION  STYLING********** */
section.bar{
  background: url("../img/bar.jpg") no-repeat center;
  height: 80vh;
  background-size: cover;
}
section.bar .content-bar{
  margin: 0 auto;
  align-self: flex-end;
}
 .button{
  text-align: end;
}
/* **********VENUE SECTION  STYLING********** */
section.venue h2{
  text-align: end;
  margin-bottom: 1rem;
}
section.venue .section-image{
  flex: 4;
}
section.venue .section-content{
  flex: 5;
  align-self: flex-start;
}
section.venue .section-content p{
  text-align: justify;
}
section.venue .section-content ul li:first-child{
  border-bottom: 2px dotted #ebebeb;
  border-top: 2px dotted #ebebeb;
}
section.venue .section-content ul li:hover{
  border-top: 2px dotted #ebebeb;
  border-bottom: 2px dotted #ebebeb;
  cursor: grab;
}
/* **********REVIEW SECTION  STYLING********** */
.review blockquote{
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 300;
  background: url("../img/quote.png") no-repeat left center;
  padding-left: 5.5rem;
}
.review .all-reviews{
  text-align: end;
  margin-top: 4rem;
}
.review a{
  color: #ebebeb;
  text-decoration: underline;
  font-size: 1.5rem;
}
.review a:hover{
  color: #881d14;
}
/* **********FOOTER SECTION  STYLING********** */
footer {
  background-color: #ab9c9c;
  color: #171717;
  font-family: 'Karma', serif;
}
footer a{
  color: #0b0a0a;
}
footer .logo p{
  font: 700 3.1rem/2.2rem 'Lemonada', sans-serif;
}
footer .logo p span{
  font: 500 2.3rem/1rem 'Karma', serif;
}
.perks{
  padding-top: 1.5rem;
}
.perks .perks-content{
  flex: 3;
  margin-left: 1rem;
}
.perks p{
  font: 400 1.85rem/2rem 'Karma', serif;
}
footer .perks input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #171717;
  width: 74%;
  height: 40px;
  margin-right: 1rem;
}
footer .perks a.btn{
  color: #171717;
  border: 1px solid #171717;
  padding: .1rem 2rem;
  font-size: 1.2rem;
}
footer .perks a.btn:hover{
  color: #88141d;
  box-shadow: inset 120px 0 0 0 #ebebeb inset;
}
.footer-banner{
  margin: 1rem 0;
  background: #881d14;
}
.footer-menu ul{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer-menu ul li a{
  color: #ebebeb;
  text-transform: uppercase;
  font-weight: 300;
}
.footer-menu ul li a:hover{
  color: #881d14;
  background: #ebebeb;
  padding: .2rem .5rem;
}
footer h3{
  text-transform: uppercase;
}
.footer-bottom .tickets p{
  margin: 0 0 .5rem;
}
.footer-bottom .tickets p span{
  font-weight: 600;
  margin-left: .2rem;
}
.footer-bottom .tickets p span.msg{
  font-size: .8rem;
}
.footer-bottom .contact a i{
  font-weight: 600;
  margin-right: .5rem;
}
.footer-bottom .contact p{
  margin: 0;
}
.footer-bottom a:hover{
  color: #881d14;
  transition: .3s;
}
footer .graphic{
  flex: 1;
  background: url("../img/reel.png") no-repeat right;
  background-size: contain;
}
footer .graphic img{
  width: 40%;
}
footer .perks-content{
  flex: 6
}
/* ------------MENU PAGE STYLE--------------- */
section.hero_menu{
  background: url("../img/hero-menu.jpg") no-repeat center;
  background-size: 100%;
  text-align: center;
  display: flex;
}
.hero_menu .content{
  flex-direction: column;
  justify-content: flex-end;
}
.hero_menu .content nav{
  margin: 4rem 0 3rem;
}
.hero_menu .content a{
  color: #ebebeb;
  font: 400 1.75rem/2rem 'Roboto', sans-serif;
}
.hero_menu .content #selected{
  text-decoration: underline;
}
.hero_menu .content a:hover{
  text-decoration: underline;
}
/* *****menu section styling***** */
section.menu{
  flex-direction: row;
}
.menu .menu-items{
  flex: 3;
  background: #fff;
  color: #0B0A0A;
  padding: 2rem 2rem 0;
}
.menu .menu-items h4 span{
  font-weight: 400;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.menu .menu-items p{
  margin: 0;
  font-weight: 300;
  font-size: 1.4rem;
}
.menu .menu-items .item{
  margin-bottom: 2rem;
}
.menu .menu-images{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.menu-images .image img{
  width: 100%
}
/* ****** menu categories section style ****** */
.menu-categories .categories{
  margin-top: 2rem;
}
.categories .menu-category h3{
  font-weight: 300;
}
.categories .menu-category{
  width: 30%;
}
.categories .menu-category img:hover{
  opacity: .4;
  cursor: grab;
  transition: 0.5s;
}
/* ------------MOVIE PAGE STYLE--------------- */
section.movie-info{
  text-align: left;
}
.show-mobile{
  display: none;
}
.movie-info .movie-trailer{
  flex: 3;
}
.movie-info h1{
  margin: 2rem 0 1rem;
  font-size: 3rem;
  width: 100%;
  text-transform: none;
}
.tickets input, select{
  height: 2rem;
  background: #ebebeb;
  border: none;
  color: #505050;
}
.tickets input[type=submit]{
  background: transparent;
    border: 1px solid #ebebeb;
    box-shadow: inset 0 0 0 0 #ebebeb;
    transition: ease-out .3s;
    margin-left: .5rem;
    color: #ebebeb;
    padding: .2rem 1rem;
}
.tickets input[type=submit]:hover{
  background: #881D14;
  box-shadow: inset 120px 0 0 0 #ebebeb;
  color: #881d14;
  cursor: grab;
}
.tickets h4{
  margin-top: .5rem;
  font-size: 1.35rem;
  text-transform: none;
}
select#time{
  margin: 0 .5rem;
}
.movie-info .movie-details{
  flex: 2;
}
.movie-info .movie-details p{
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 300;
}
.movie-info .movie-details p:first-child{
  margin-top: 0;
}
.movie-info .movie-details p span{
  font: 700 1.35rem/2rem 'Karma', serif;
  text-transform: uppercase;
  margin-right: .5rem;
}
.ratings .button a{
  color: #0b0a0a;
  text-decoration: underline;
}
.ratings .button a:hover{
  color: #881d14
}
/* *****cast card styling***** */
.cast .actor h4{
  line-height: 1.3rem;
  align-self: flex-end;
  margin-bottom: 2rem;
}
.cast .actor h4 span{
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: none;
  color: #868686;
}
.cast .russell{
  background: url("../img/russell.jpg") no-repeat center;
}
.cast .caren{
  background: url("../img/caren.jpg") no-repeat center;
}
.cast .jimmi{
  background: url("../img/jimmi.jpg") no-repeat center;
}
.cast .gabriel{
  background: url("../img/gabriel.jpg") no-repeat center;
}
.cast .actor{
  width: 275px;
  height: 420px;
  background-size: contain;
  display: flex;
  padding-left: 1rem;
}
.cast a{
  text-align: end;
    width: 100%;
    color: #ebebeb;
    text-decoration: underline;
}
.cast a:hover{
  color: #881D14;
}
/* *****reviews section styling***** */
section.reviews .ratings{
  margin-top: 1rem;
  padding: 2rem;
  background: #ebebeb;
  color: #0b0a0a;
}
.ratings .rating{
  margin-bottom: 1.5rem;
}
.ratings .rating .stars p{
  margin: 0;
}
.ratings .rating hr{
  color: #0b0a0a;
  border-bottom: 2px solid #0b0a0a;
  width: 100%;
}
/* -------------RESPONSIVE STYLING-------------- */
@media only screen and (max-width: 1098px){
  header .logo{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  header nav.menu{
    width: 50%;
  }
  header .actions{
    width: 45%;
  }
  .movie-cards .movie{
    width: 47%;
    margin-bottom: 6rem;
  }
    .content-bar p{
    margin: 2rem;
  }
  .trailer{
    margin-bottom: 2rem;
  }
}
/* ******Tablet Size****** */
@media only screen and (max-width: 768px){
  body{
    background: #0b0a0a;
  }
  .show-tablet{
    display: block;
  }
  .hide-tablet{
    display: none; 
  }
  /* header .icons{
    width: 100%;
    text-align: end;
  } */
  header .icons i{
    margin-left: 2rem;
  }
  .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
    cursor: pointer;
  }
  .menu-btn_lines,
  .menu-btn_lines::before,
  .menu-btn_lines::after{
    width: 1.5rem;
    height: 0.1rem;
    background-color: #ebebeb;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_lines::before,
  .menu-btn_lines::after{
    content: "";
    position: absolute;
  }
  .menu-btn_lines::before{
    transform: translateY(-0.5rem);
  }
  .menu-btn_lines::after{
    transform: translateY(0.5rem);
  }
  /* animation to change menu lines to an X */
  .menu-btn.open .menu-btn_lines{
    transform: translateX(2rem);
    background-color: transparent;
  }
 .menu-btn.open .menu-btn_lines::before{
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  }
.menu-btn.open .menu-btn_lines::after{
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  }
  nav.menu ul{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 5rem;
    right: 0;
    left: 0;
    background: #210202;
    height: 80vh;
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;
  }
  nav.menu ul li a{
    font-size: 2rem;
  }
  nav.menu ul.open{
    transform: translateX(0);
  }
  .hero i{
    display: none;
  }
  /* menu page */
  section.hero, section.hero h1{
    margin: 0;
  }
  section.menu{
    display: block;
    margin-top: 2rem;
  }
  .menu-images .hide{
    display: none
  }
  .menu-images .image{
    margin-bottom: 2rem;
  }
  .categories .menu-category{
    width: 100%;
    height: 400px;
    margin-bottom:2rem;
  }
  .menu-category h3 {
    font-size: 4rem;
    text-align: center;
    color: #ebebeb;
    background: #210202e0;
    padding: 1rem 0;
  }
  .entrees{
    background: url("../img/tablet-burger.jpg") no-repeat center;
    width: 100%;  
  }
  .desserts{
    background: url("../img/tablet-brownie.jpg") no-repeat center;
    width: 100%; 
  }
  .drinks{
    background: url("../img/tablet-drinks.jpg") no-repeat center;
    width: 100%; 
  }
  .footer-menu ul{
    flex-direction: column;
    text-align: center;
  }
  .footer-menu ul li a{
    font-size: 1.8rem;
  }
  .footer-menu ul li{
    margin-bottom: 1rem;
  }
  .tickets{
    display: none;
  }
  /* home page */
  section.hero{
    text-align: left;
    background: url("../img/hero2.jpg") no-repeat top left; 
  }
  section.movies{
    margin-top: 6rem;
  }
  
  .movie-cards .movie p{
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  section.seats, .content-food{
    display: block;
  }
  .section-image{
    text-align: center;
  }
  section, section .section-content h2, .section-content .button{
    text-align: center;
  }
  section.movies, section.food, section.venue{
    background: #210202;
  }
  .content-food .section-content{
    margin-bottom: 3rem;
  }
  .spacer{
    display: none;
  }
  /* *****movie page***** */
}
@media only screen and (max-width: 480px){
  img{
    width: 100vw;
  }

  .hide-mobile{
    display: none;
  }
  .show-mobile{
    display: block;
  }
  section.hero{
    background: none;
  }
  section.hero p{
    font-size: 1.2rem;
  }
  section.hero h1{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
  section.hero img{
    width: 100vw;
  }
  section.movies{
    width: 100%;
  }
  .movie-cards .movie{
    width: 100%;
  }
  .section.venue .section-content p{
    text-align: left;
  }
  .review h2{
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: left;
  }
  .review blockquote{
    font-size: 1rem;
  }
}